html,
body {
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.2rem;
  font-weight: 200;
  color: #6c7293;
  background-color: #202125;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select {
  overflow: hidden;
}

.btn1 {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.35em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #e14eca;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #e14eca;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #000;
}

.btn:hover {
  color: #000;
}

.btn2 {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.35em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #00adb5;
  background-image: linear-gradient(to bottom left, #7fdbda, #00adb5, #00adb5);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #00adb5;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #fff;
}

#checkcomentario {
  font-size: 1.5em;
  color: #fff;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+#checkcomentario {
  cursor: pointer;
}

#checkcomentario:before {
  content: '';
  background: transparent;
  border: 3px solid #fff;
  border-radius: 25px;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  text-align: center;
  text-shadow: 4px -2px 3px gray;
  vertical-align: middle;
  margin-bottom: 5px;
}

input[type=checkbox]:checked+#checkcomentario:before {

  font-size: 14px;
  font-family: 'Times New Roman';
  color: #e14eca;
  background: #e14eca;
  margin-bottom: 5px;
}


#checkocultar {
  font-size: 1.5em;
  color: #fff;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+#checkocultar {
  cursor: pointer;
}

#checkocultar:before {
  content: '';
  background: transparent;
  border: 3px solid #fff;
  border-radius: 25px;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  text-align: center;
  text-shadow: 4px -2px 3px gray;
  vertical-align: middle;
  margin-bottom: 5px;
}

input[type=checkbox]:checked+#checkocultar:before {

  font-size: 14px;
  font-family: 'Times New Roman';
  color: #e14eca;
  background: #e14eca;
  margin-bottom: 5px;
}


#checkprivacidad {
  font-size: 1.5em;
  color: #fff;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+#checkprivacidad {
  cursor: pointer;
}

#checkprivacidad:before {
  content: '';
  background: transparent;
  border: 3px solid #fff;
  border-radius: 25px;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  text-align: center;
  text-shadow: 4px -2px 3px gray;
  vertical-align: middle;
  margin-bottom: 5px;
}

input[type=checkbox]:checked+#checkprivacidad:before {

  font-size: 14px;
  font-family: 'Times New Roman';
  color: #e14eca;
  background: #e14eca;
  margin-bottom: 5px;
}
